@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.cdnfonts.com/css/new-york");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
  padding: 0;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 500;
}

img, source {
  display: block;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

section {
  background: white;
  color: black;
}

.wc-souqblackfriday__bg {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: start;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .wc-souqblackfriday__bg {
    position: relative;
  }
}
@media (min-width: 992px) {
  .wc-souqblackfriday__bg {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .wc-souqblackfriday__left, .wc-souqblackfriday__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}
.wc-souqblackfriday__left {
  position: relative;
}

@media (max-width: 767px) {
  .wc-souqblackfriday__left {
    position: absolute;
    top: 21rem;
    margin: 0;
  }
}
.wc-souqblackfriday__right {
  text-align: center;
  height: 100%;
}

.wc-souqblackfriday__right p {
  color: #303030;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.wc-souqblackfriday__right p strong {
  font-weight: 500;
}

.wc-souqblackfriday__right--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 1rem;
  height: 100%;
  padding: 10% 15%;
}

@media (max-width: 767px) {
  .wc-souqblackfriday__right--container {
    padding: 10% 6%;
  }
}
.wc-souqblackfriday__right--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wc-souqblackfriday__right--title {
    width: 16.3rem;
  }
}
@media (max-width: 767px) {
  .wc-souqblackfriday__right--title {
    width: 70%;
  }
}
.wc-souqblackfriday__right--title h1 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px;
}

.wc-souqblackfriday__right--title h1 strong {
  font-weight: 700;
}

.wc-souqblackfriday__right--title h2 {
  color: #303030;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.9rem;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 767px) {
  .wc-souqblackfriday__right--title h2 {
    font-size: 0.9rem;
  }
}
.wc-souqblackfriday__right--description_one, .wc-souqblackfriday__right--description_two {
  font-size: 0.875rem;
  margin: 0 auto;
  width: 100%;
  margin: 1rem auto 0;
}

@media (max-width: 767px) {
  .wc-souqblackfriday__right--description_one {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .wc-souqblackfriday__right--description_two {
    width: 80%;
  }
}
.wc-souqblackfriday__right .wc-countdown {
  color: #303030;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  padding: 0.7rem 1.5rem;
  background: #efefef;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .wc-souqblackfriday__right .wc-countdown {
    margin-bottom: 25rem;
  }
}
.wc-souqblackfriday__right .wc-countdown h3 {
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.wc-souqblackfriday__right .wc-countdown__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  padding: 0.75rem 0;
}

.wc-souqblackfriday__right .wc-countdown__container span#days, .wc-souqblackfriday__right .wc-countdown__container span#hours, .wc-souqblackfriday__right .wc-countdown__container span#minutes, .wc-souqblackfriday__right .wc-countdown__container span#seconds {
  font-size: 2rem;
  color: #303030;
  font-family: "New York", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.wc-souqblackfriday__right .wc-countdown__container span#days::after, .wc-souqblackfriday__right .wc-countdown__container span#hours::after, .wc-souqblackfriday__right .wc-countdown__container span#minutes::after, .wc-souqblackfriday__right .wc-countdown__container span#seconds::after {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 0.625rem;
}

.wc-souqblackfriday__right .wc-countdown__container span#days {
  border-right: 1px solid #d9d9d9;
}

.wc-souqblackfriday__right .wc-countdown__container span#days::after {
  content: "dias";
}

.wc-souqblackfriday__right .wc-countdown__container span#hours {
  border-right: 1px solid #d9d9d9;
}

.wc-souqblackfriday__right .wc-countdown__container span#hours::after {
  content: "horas";
}

.wc-souqblackfriday__right .wc-countdown__container span#minutes {
  border-right: 1px solid #d9d9d9;
}

.wc-souqblackfriday__right .wc-countdown__container span#minutes::after {
  content: "minutos";
}

.wc-souqblackfriday__right .wc-countdown__container span#seconds::after {
  content: "segundos";
}

.wc-souqblackfriday__right .wc-countdown__description {
  font-size: 0.7rem;
}

.wc-souqblackfriday__form {
  color: #303030;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.wc-souqblackfriday__form label {
  font-size: 0.825rem;
}

.wc-souqblackfriday__form input {
  width: 100%;
  background: transparent;
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 0.3rem 0;
  margin: 0.3rem 0;
}

.wc-souqblackfriday__form--data {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  padding: 2rem;
  padding-bottom: 1rem;
  background: #efefef;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.wc-souqblackfriday__form--data_name, .wc-souqblackfriday__form--data_email, .wc-souqblackfriday__form--data_phone {
  width: 100%;
}

@media (min-width: 992px) {
  .wc-souqblackfriday__form--data_email, .wc-souqblackfriday__form--data_phone {
    width: calc(50% - 1rem);
  }
}
.wc-souqblackfriday__form--data_newsletter-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}

@media (max-width: 767px) {
  .wc-souqblackfriday__form--data_newsletter-checkbox {
    gap: 1rem 0;
  }
}
.wc-souqblackfriday__form--data_newsletter-checkbox .checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 1.6rem;
}

@media (max-width: 767px) {
  .wc-souqblackfriday__form--data_newsletter-checkbox .checkbox {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
  }
}
.wc-souqblackfriday__form--data_newsletter-checkbox .checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.wc-souqblackfriday__form--data_newsletter-checkbox .checkbox label {
  font-weight: 400;
  vertical-align: text-bottom;
}

.wc-souqblackfriday__form--data_newsletter-checkbox .checkbox label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-box-shadow: 0 0 0 1px #383838;
  box-shadow: 0 0 0 1px #383838;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 50%;
}

.wc-souqblackfriday__form--data_newsletter-checkbox .checkbox input[type=checkbox]:checked + label::before {
  background-color: #383838;
  border: 1px solid #fff;
}

.wc-souqblackfriday__form--data_newsletter-checkbox .checkbox input[type=checkbox]:checked + label::before::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.wc-souqblackfriday__form--paragraph {
  width: 100%;
  margin: 1.2rem auto;
  font-size: 0.675rem;
}

.wc-souqblackfriday__form--submit button {
  background: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: 0;
  border-radius: 5px;
  padding: 0.4rem 2rem;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wc-souqblackfriday__form--submit button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}